<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenSearch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <div class="header"><h2>Word2Vec - OpenSearch</h2></div>
        <div class="design"> 
            <input type="text" id="query" class="searchbar"/>
            <button id="search">Search</button>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='basic.js') }}">
    </script>
</body>
</html>
